.highlight-text {
  background-color: #FFFF8A;
}

.options {
  height: 310px;
  overflow: auto;
}

ul.options {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 30rem;
  transition: width 0.3s;
  margin: auto;
  position: relative;
  padding: 0;
  padding-left: 22px;
}

ul.options li {
  display: flex;
  justify-content: center;
  background: white;
  padding: 10px;
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid #e2e2e2;
}
ul.options li:hover {
  font-weight: bold;
  color: #00b4cc;
  cursor: pointer;
  transition: 0.3s all;
}

ul.options li.option-active {
  background: whitesmoke;
  font-size: 1.5rem;
  color: #00b4cc;
}
.no-options {
  color: white;
}